<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HappyMiles|Tour packages</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header>
        <nav>
            <h1>HappyMiles</h1>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Policy</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>