<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HappyMiles|Tour packages</title>
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

</head>

<body>
  <header>
    <nav>
      <img src="logo1.png" width=200px>
      <ul>
        <li><a href=""><i class="fa-solid fa-house" style="color: white;"></i> Home</a></li>
        <a href=""><button>Sign Up</button></a>
      </ul>
    </nav>


    <!-- first page -->
    <div>


      <div class="first-page">
        <div class="frst">
          <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Enter your dream destination">
          </div>
          <div class="note-div">
            <button>Explore</button>
          </div>
        </div>
      </div>
      <!-- First page end -->
  </header>

  <!-- Second Page start -->
  <section class="second-page">
    <h1>Browse <span class="head">By Categories</span></h1>
    <ul>
      <li><a href="">International</a></li>
      <li><a href="">Domestic</a></li>
    </ul>
    <div class="place-div scroll">
      <div>
        <img
          src="https://www.usnews.com/object/image/00000180-6260-d187-a5cb-fefd67170001/eiffel-tower-outro-stock.jpg?update-time=1739908225595&size=responsive640"
          alt="">
        <h3>Paris</h3>
      </div>
      <div>
        <img
          src="https://www.usnews.com/object/image/00000180-6260-d187-a5cb-fefd67170001/eiffel-tower-outro-stock.jpg?update-time=1739908225595&size=responsive640"
          alt="">
        <h3>Paris</h3>
      </div>
      <div>
        <img
          src="https://www.usnews.com/object/image/00000180-6260-d187-a5cb-fefd67170001/eiffel-tower-outro-stock.jpg?update-time=1739908225595&size=responsive640"
          alt="">
        <h3>Paris</h3>
      </div>
      <div>
        <img
          src="https://www.usnews.com/object/image/00000180-6260-d187-a5cb-fefd67170001/eiffel-tower-outro-stock.jpg?update-time=1739908225595&size=responsive640"
          alt="">
        <h3>Paris</h3>
      </div>
      <div>
        <img
          src="https://www.usnews.com/object/image/00000180-6260-d187-a5cb-fefd67170001/eiffel-tower-outro-stock.jpg?update-time=1739908225595&size=responsive640"
          alt="">
        <h3>Paris</h3>
      </div>
      <div>
        <img
          src="https://www.usnews.com/object/image/00000180-6260-d187-a5cb-fefd67170001/eiffel-tower-outro-stock.jpg?update-time=1739908225595&size=responsive640"
          alt="">
        <h3>Paris</h3>
      </div>
    </div>
  </section>
  <!-- Second page end -->

  <!-- Third page start -->
  <section class="second-page">
    <h1>Top <span class="head">Tour Packages</span></h1>
    <div class="package-div ">
      <div>
        <img
          src="https://www.usnews.com/object/image/00000180-6260-d187-a5cb-fefd67170001/eiffel-tower-outro-stock.jpg?update-time=1739908225595&size=responsive640"
          alt="">
        <h3>Paris</h3>
      </div>
      <div>
        <img
          src="https://www.usnews.com/object/image/00000180-6260-d187-a5cb-fefd67170001/eiffel-tower-outro-stock.jpg?update-time=1739908225595&size=responsive640"
          alt="">
        <h3>Paris</h3>
      </div>
      <div>
        <img
          src="https://www.usnews.com/object/image/00000180-6260-d187-a5cb-fefd67170001/eiffel-tower-outro-stock.jpg?update-time=1739908225595&size=responsive640"
          alt="">
        <h3>Paris</h3>
      </div>
      <div>
        <img
          src="https://www.usnews.com/object/image/00000180-6260-d187-a5cb-fefd67170001/eiffel-tower-outro-stock.jpg?update-time=1739908225595&size=responsive640"
          alt="">
        <h3>Paris</h3>
      </div>
      <div>
        <img
          src="https://www.usnews.com/object/image/00000180-6260-d187-a5cb-fefd67170001/eiffel-tower-outro-stock.jpg?update-time=1739908225595&size=responsive640"
          alt="">
        <h3>Paris</h3>
      </div>
      <div>
        <img
          src="https://www.usnews.com/object/image/00000180-6260-d187-a5cb-fefd67170001/eiffel-tower-outro-stock.jpg?update-time=1739908225595&size=responsive640"
          alt="">
        <h3>Paris</h3>
      </div>
    </div>
  </section>
  <!-- Third page end -->

  <!-- Footer start -->

  <footer>
    <img src="logo.png"></img>
    <div class="footer-list">
      <div>
        <h3>Our Office</h3>
        <p>Located across the country, ready to assist in planning & booking your perfect vacation.</p>
      </div>
      <div>
        <h3>Call Us</h3>
        <p>Located across the country, ready to assist in planning & booking your perfect vacation.</p>
      </div>
      <div>
        <h3>Connect with Us</h3>
        <p>Located across the country, ready to assist in planning & booking your perfect vacation.</p>
      </div>

    </div>
  </footer>
</body>

</html>