<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HappyMiles|Tour packages</title>
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>
  <!-- First page start -->
  <section class="first-p" id="home">
    <div class="overlay"></div>
    <div class="content-div">
      <nav>
        <img src="logo1.png" width=200px>
        <div class="menu-bar" id="menu-bar">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <ul>
          <li><a href=""><i class="fa-solid fa-house" style="color: white;"></i> Home</a></li>
          <li><a><button class="sign-btn" id="sign-btn">Sign Up</button></a></li>
        </ul>
      </nav>
      <div class="menu" id="menu">
        <ul>
          <li>Home</li>
          <hr>
          <li>About</li>
          <hr>
          <li>Contact Us</li>
          <hr>
          <li><a><button class="sign-btn" id="sign-btn3">Sign Up</button></a></li>
        </ul>
      </div>
      <!-- first page -->
      <div class="main-content">
        <div class="search-bar">
          <input type="text" placeholder="Enter your dream destination">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="note-div">
          <button>Explore</button>
        </div>

      </div>
    </div>
  </section>
  <!-- First page end -->

  <!-- Log in page start-->
  <div class="popup" id="login">
    <div class="login-content">
      <span class="close-button" id="close1">&times;</span>
      <h2>Login</h2>

      <form id="mylogin">
        <input type="text" placeholder="Email" id="log-email">
        <input type="password" placeholder="password" id="log-pass">
        <button id="login-btn">Login</button>

        <p>Don't have an account <a href="" id="sign-btn1">Sign Up</a></p>
        <p class="warning" id="warn"></p>
      </form>
    </div>
  </div>

  <div class="popup-sign" id="signUp">
    <div class="signup-content">
      <span class="close-button" id="close2">&times;</span>
      <h2>sign Up</h2>

      <form id="mysignUp">
        <input type="text" placeholder="Email" id="email">
        <input type="password" placeholder="password" id="pass">
        <input type="password" placeholder="render password" id="re-pass">
        <button id="signUp-btn">Sign Up</button>

        <p>You have an account <a href="" id="login-a">Log in</a></p>
        <p class="warning" id="warn-s"></p>
      </form>
    </div>
  </div>
  <!-- Log in page end -->

  <!-- Second Page start -->
  <section class="second-page">
    <h1 class="sub-heading">Browse <span class="head">By Categories</span></h1>
    <ul>
      <li><a href="" id="inter">International</a></li>
      <li><a href="" id="domes">Domestic</a></li>
    </ul>
    <div class="place-div scroll" id="place-div">
    </div>
    <div class="place-div scroll" id="domestic-div">
    </div>
  </section>
  <!-- Second page end -->

  <!-- Third page start -->
  <section class="third-page">
    <h1 class="sub-heading">Top <span class="head">Tour Packages</span></h1>
    <div class="package-div ">
      <div class="card">
        <img
          src="https://www.usnews.com/object/image/00000180-6260-d187-a5cb-fefd67170001/eiffel-tower-outro-stock.jpg?update-time=1739908225595&size=responsive640"
          alt="">
        <div class="package-detail">
          <h3>Paris</h3>
          <p><span class="day">1 DAY</span> <span class="day">2 NIGHT</span></p>
          <p class="price">Starts from <span class="price-val"> $455</span></p>
        </div>
      </div>
      <div class="card">
        <img
          src="https://www.usnews.com/object/image/00000180-6260-d187-a5cb-fefd67170001/eiffel-tower-outro-stock.jpg?update-time=1739908225595&size=responsive640"
          alt="">
        <div class="package-detail">
          <h3>Paris</h3>
          <p><span class="day">1 DAY</span> <span class="day">2 NIGHT</span></p>
          <p class="price">Starts from <span class="price-val"> $455</span></p>
        </div>
      </div>
      <div class="card">
        <img
          src="https://www.usnews.com/object/image/00000180-6260-d187-a5cb-fefd67170001/eiffel-tower-outro-stock.jpg?update-time=1739908225595&size=responsive640"
          alt="">
        <div class="package-detail">
          <h3>Paris</h3>
          <p><span class="day">1 DAY</span> <span class="day">2 NIGHT</span></p>
          <p class="price">Starts from <span class="price-val"> $455</span></p>
        </div>
      </div>
      <div class="card">
        <img
          src="https://www.usnews.com/object/image/00000180-6260-d187-a5cb-fefd67170001/eiffel-tower-outro-stock.jpg?update-time=1739908225595&size=responsive640"
          alt="">
        <div class="package-detail">
          <h3>Paris</h3>
          <p><span class="day">1 DAY</span> <span class="day">2 NIGHT</span></p>
          <p class="price">Starts from <span class="price-val"> $455</span></p>
        </div>
      </div>
      <div class="card">
        <img
          src="https://www.usnews.com/object/image/00000180-6260-d187-a5cb-fefd67170001/eiffel-tower-outro-stock.jpg?update-time=1739908225595&size=responsive640"
          alt="">
        <div class="package-detail">
          <h3>Paris</h3>
          <p><span class="day">1 DAY</span> <span class="day">2 NIGHT</span></p>
          <p class="price">Starts from <span class="price-val"> $455</span></p>
        </div>
      </div>



    </div>
  </section>
  <!-- Third page end -->

  <!-- Footer start -->

  <footer>
    <div>
      <img src="logo.png"></img>
      <p></p>
    </div>
    <div class="footer-list">
      <div class="items">
        <h3>Our Office</h3>
        <p>Located across the country, ready to assist in planning & booking your perfect vacation.</p>
      </div>
      <div class="items">
        <h3>Call Us</h3>
        <p>Request a quote, or just chat about your next vacation. We're always happy to help!.</p>
        <p style="font-size: 18px; color: rgb(49, 49, 49);"><i class="fa-solid fa-phone"></i> +91 9995198211</p>
      </div>
      <div class="items">
        <h3>Connect with Us</h3>
        <p>Find exclusive offers, updates and more..</p>
        <ul class="social">
          <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
          <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
          <li><a href=""><i class="fa-brands fa-square-twitter"></i></a></li>
        </ul>
      </div>
      <div class="items">
        <h3>About</h3>
        <ul>
          <li>home</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
    </div>
  </footer>
  <script type="module" src="../public/js/auth.js"></script>
  <script type="module" src="../public/js/script.js"></script>
</body>

</html>