:root {
    --primary-color:
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: rgba(255, 255, 255, 0.737);
    font-family: Arial, Helvetica, sans-serif;
}

section {
    margin-inline: 5%;
    padding: 2%;
}

a {
    text-decoration: none;
}

li:hover {
    color: #ff5100;
}

ul {
    list-style: none;
}


/* First page start */
.first-p {
    /* color: white; */
    position: relative;
    background-image: url(https://images.unsplash.com/flagged/photo-1559717865-a99cac1c95d8?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZHViYWl8ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0.5rem;
    border-radius: 3.1rem;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(5, 5, 5, 0.4);
    border-radius: 3.1rem;

}

.content-div {
    position: relative;
}

.main-content {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25vh;
}

.main-content .place-head {
    font-size: clamp(2.5rem, 4vw, 5rem);
    font-weight: 700;
}

.main-content h1 span {
    font-weight: 300;
    font-size: clamp(2rem, 2.7vw, 4rem);
}

.main-content p {
    font-size: clamp(0.8rem, 1.4vw, 2rem);
}

.menu {
    background-color: white;
    position: fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 15%;
    padding: 3%;
    left: 5%;
    width: 90%;
    display: none;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
}

.menu hr {
    margin-bottom: 0.5rem;
}

nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 3rem;
}

.sign-btn {
    padding: 0.7rem 1.5rem;
    border-radius: 1.3rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background-color: #ff5100;
    color: rgb(236, 229, 229);
    transition: all ease 0.5s;
}

nav button:hover {
    background-color: rgb(236, 229, 229);
    color: rgb(255, 81, 0);
}

.menu-bar {
    display: none;
}

.menu-bar div {
    width: 1.9em;
    height: 3px;
    background-color: white;
}

.note-div {
    margin-top: 15vh;
    color: white;
    width: 90vw;
    padding-top: 10vh;
    display: flex;
    justify-content: end;
    align-items: end;
}

.note-div button {
    padding: 15px 45px;
    border-radius: 20px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    background-color: rgb(7, 2, 100);
    color: rgb(236, 229, 229);
    transition: all ease 0.5s;
}


/* -------------------------------------- */
/* login in page */
.popup,
.popup-sign {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.login-content,
.signup-content {
    background-color: rgb(232, 232, 232);
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    padding: 30px;
    border-radius: 1rem;
    position: relative;
    box-shadow: -5px -5px 20px rgba(0, 0, 0, 0.256);
    animation: popup 0.3s ease;
}

@keyframes popup {
    from {
        transform: scale(0.7);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.login-content h2,
.signup-content h2 {
    text-align: center;
    margin-bottom: 0.6rem;
}

.login-content form,
.signup-content form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-content input,
.signup-content input {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
}

.login-content button,
.signup-content button {
    background-color: rgb(255, 140, 0);
    padding: 1rem;
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.login-content p,
.signup-content p {
    text-align: center;
    font-size: 1rem;
}

/* sign up page */


/* ------------------------------------------------ */
/* Second page start */


.sub-heading {
    font-size: clamp(2rem, 2.7vw, 3rem);
    font-weight: 500;
}

.head {
    font-weight: 300;
    color: rgb(117, 114, 114);
    font-size: clamp(1.2rem, 2vw, 1.6rem);
}

.second-page ul {
    font-size: clamp(1.1rem, 1.5vw, 1.3rem);
    margin-top: 0.8rem;
    display: flex;
    list-style: none;
    column-gap: 0.7rem;
}

.second-page a {
    color: rgb(38, 37, 37);
}

.second-page a:focus {
    outline: none;
    color: #ff5100;
    text-decoration: underline;
}

.scroll {
    margin: 1rem;
    display: flex;
    gap: 3vw;
    overflow-x: scroll;
    padding: clamp(0.2rem, 1vw, 0.8rem);
    scrollbar-width: none;
    animation: leftToRight 0.5s ease;
}

@keyframes leftToRight {
    from {
        transform: translateX(-200px);
        opacity: 0.5;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.place-div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.place-div img {
    width: clamp(8rem, 11vw, 12rem);
    height: clamp(8rem, 11vw, 12rem);
    border-radius: 50%;
}

h3 {
    font-weight: 400;
    color: rgb(60, 60, 60);
    font-size: clamp(1.2rem, 3vw, 1.3rem);
}



/* ------------------------------------------ */
/* Third section start */


.package-div {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: left; */
    gap: 2rem;
    margin-top: 5vh;
}

.image-class {
    height: 250px
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    gap: 10px;
    width: 31%;
    background-color: rgb(246, 246, 246);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.package-detail {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.card h3 {
    font-size: 22px;
    font-weight: 500;
}

.day {
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid rgb(94, 94, 94);
    border-radius: 5px;
    color: rgb(48, 47, 47);
}

.price-val {
    font-size: 22px;
    color: rgb(14, 13, 13);
}


/* ------------------------------- */
/* Footer start */


footer {
    margin-inline: 0.5rem;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    background-color: rgba(216, 216, 216, 0.347);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 5rem;
    color: rgb(39, 38, 38);
}

footer img {
    width: clamp(15rem, 20vw, 20rem);
}

.footer-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vh;
}

.social {
    display: flex;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.items h3 {
    font-size: 25px;
    font-weight: 500;
}

.items p {
    color: rgb(104, 103, 103);
}

.social a {
    color: black;
    font-size: 26px;
}

.price {
    color: rgb(104, 103, 103);
}

@media (min-width:681px) {
    .menu {
        visibility: hidden;
        /* background-color: #ff5100; */
    }
}

@media (max-width:680px) {
    body {
        background-color: rgb(246, 246, 246);
    }

    nav ul {
        display: none;
    }

    .menu-bar {
        display: flex;
        flex-direction: column;
        gap: 5px;
        transition: all ease 0.3s;
    }

    .menu-bar:hover div {
        background-color: #ff5100;
    }

    .search-bar {
        width: 90%;
    }

    .card {
        width: 85%;
    }

    footer {
        padding: 5rem 3rem;
        grid-template-columns: 1fr;
        gap: 5rem;
    }

    .footer-list {
        grid-template-columns: repeat(2, 1fr);
    }
}