<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HappyMilespackages</title>
    <link rel="stylesheet" href="package.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>
    <!-- First page start -->
    <section class="first-p" id="place-home">
        <div class="overlay"></div>
        <div class="content-div">
            <nav>
                <img src="logo1.png" width=200px>
                <div class="menu-bar" id="menu-bar">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <ul>
                    <li><a href=""><i class="fa-solid fa-house" style="color: white;"></i> Home</a></li>
                    <li><a><button class="sign-btn" id="sign-btn">Sign Up</button></a></li>
                </ul>
            </nav>
            <div class="menu" id="menu">
                <ul>
                    <li>Home</li>
                    <hr>
                    <li>About</li>
                    <hr>
                    <li>Contact Us</li>
                    <hr>
                    <li><a><button class="sign-btn" id="sign-btn3">Sign Up</button></a></li>
                </ul>
            </div>
            <!-- first page -->
            <div class="main-content">
                <h1><span class="place-head">Dubai</span><span>Packages</span></h1>
                <p>Trending Fixed Departure Itinerary</p>
            </div>
        </div>
    </section>
    <!-- First page end -->
    <!-- Log in page start-->
    <div class="popup" id="login">
        <div class="login-content">
            <span class="close-button" id="close1">&times;</span>
            <h2>Login</h2>

            <form id="mylogin">
                <input type="text" placeholder="Email" id="log-email">
                <input type="password" placeholder="password" id="log-pass">
                <button id="login-btn">Login</button>

                <p>Don't have an account <a href="" id="sign-btn1">Sign Up</a></p>
                <p class="warning" id="warn"></p>
            </form>
        </div>
    </div>
    <!-- Login page end -->

    <section class="package-detailes">
        <div class="package-content">
            <div class="overview div">
                <h2>Overview</h2>
                <p>Embark on a soulful voyage through India's spiritual heartland where history, mythology, and divinity
                    converge. From the sacred ghats of Varanasi to the birthplace of Lord Rama in Ayodhya and the
                    celestial confluence of rivers in Prayagraj, this journey offers an immersion into the timeless
                    rhythm of devotion and heritage. Witness rituals that have transcended generations, walk through
                    temples steeped in legends, and feel the sacred air embrace you at every step. This 4-night, 5-day
                    pilgrimage tour is designed to offer not just sightseeing, but a deeply enriching cultural
                    experience across Uttar Pradesh’s most revered destinations.</p>
                <h2>Itinerary</h2>
                <div>
                    <div class="day-details">
                        <i class="fa-solid fa-location-dot"></i>
                        <div>
                            <div>
                                <p>Day 1</p>
                                <h2>Arrival in Varanasi , Sarnath Visit & Ganga Aarti</h2>
                            </div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque, ipsum dolor quo
                                atque perferendis sequi. Molestias vero obcaecati nostrum natus repellendus, dolorem
                                voluptas veritatis deserunt assumenda aliquam alias minima ratione?</p>
                        </div>
                    </div>

                </div>
                <div>
                    <div class="day-details">
                        <i class="fa-solid fa-location-dot"></i>
                        <div>
                            <div>
                                <p>Day 1</p>
                                <h2>Arrival in Varanasi , Sarnath Visit & Ganga Aarti</h2>
                            </div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque, ipsum dolor quo
                                atque perferendis sequi. Molestias vero obcaecati nostrum natus repellendus, dolorem
                                voluptas veritatis deserunt assumenda aliquam alias minima ratione?</p>
                        </div>
                    </div>

                </div>
            </div>


            <!-- Inclusion start -->
            <div class="inclusion div">
                <h2>PACKAGE INCLUSIONS & EXCLUSIONS</h2>
                <div>
                    <ul>
                        <h2>inclusion</h2>
                        <li><i class="fa-regular fa-star"></i>Return airfare on economy Class</li>
                        <li><i class="fa-regular fa-star"></i>4 nights’ hotel accommodation in 3-star hotels
                        </li>
                        <li><i class="fa-regular fa-star"></i>Meals as per itinerary</li>
                        <li><i class="fa-regular fa-star"></i>Boat ride on the Ganges</li>
                        <li><i class="fa-regular fa-star"></i>Evening Ganga Aarti experience</li>
                        <li><i class="fa-regular fa-star"></i>Entrances as per itinerary</li>
                    </ul>
                    <ul>
                        <h2>Exclusion</h2>
                        <li><i class="fa-regular fa-star"></i>Return airfare on economy Class</li>
                        <li><i class="fa-regular fa-star"></i>4 nights’ hotel accommodation in 3-star hotels
                        </li>
                        <li><i class="fa-regular fa-star"></i>Meals as per itinerary</li>
                        <li><i class="fa-regular fa-star"></i>Boat ride on the Ganges</li>
                        <li><i class="fa-regular fa-star"></i>Evening Ganga Aarti experience</li>
                        <li><i class="fa-regular fa-star"></i>Entrances as per itinerary</li>
                    </ul>
                </div>
            </div>
            <!-- inclusion end -->

            <!-- Policy start -->
            <div class="policy div">
                <h2>Cancellation Policy</h2>

                <ul>
                    <li>Cancellation Notice Received (No of days prior to Departure) Cancellation Charges ( Per person)
                    </li>
                    <li>00 -30 Days 100%</li>
                    <li>31 -45 Days 75 % of the Tour Cost</li>
                    <li>46- 60 Days 50 % of the Tour Cost</li>
                    <li>More than 60 days 20 % of the Tour Cost</li>
                </ul>

                <h2>Terms & Conditions</h2>
                <ul>
                    <li>Rates are valid for Indian citizens only</li>
                    <li>Reconfirmation procedures can be done only post receiving the payment</li>
                    <li>Unused services for transfers, tours & hotel accommodation are not refundable</li>
                    <li>Standard Check in 1400 Hrs Check out is 1200 Hrs which may vary as per local rules</li>
                    <li>We, Alhind Holidays reserve the right to alter, amend, change or modify the tour package and
                        itineraries before</li>
                    <li>or during the tour. We will make reasonable efforts to notify you promptly of such changes /
                        events sufficiently in</li>
                    <li>vadvance during booking or prior to departure of the tour. If such changes / events occur during
                        the tour, our</li>
                    <li>local representative will inform you of the changes on the spot and we solicit your full
                        co-operation in accepting</li>
                    <li>such circumstantial changes. Such changes may be necessitated due to factors beyond our control
                        such as Force</li>
                    <li>Majeure events viz. flight delays, cancellation, weather conditions etc. Hence we will not be
                        responsible and is not</li>
                    <li>iable to offer any refund or compensation towards the same</li>
                </ul>
            </div>
        </div>
        <div class="right-side">
            <div class="div">
                <span class="cost">$455</span> <span>per adult</span>
            </div>

            <div class="div booking-form">
                <h2>Higlights of Dubai</h2>
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Phone number">
                <div>
                    <label for="">number of adults</label>
                    <input type="text">
                </div>
                <div>
                    <label for="date">Date</label>
                    <input type="date">
                </div>
                <button>Book now</button>

            </div>
        </div>
    </section>

    <div class="popup-sign" id="signUp">
        <div class="signup-content">
            <span class="close-button" id="close2">&times;</span>
            <h2>sign Up</h2>

            <form id="mysignUp">
                <input type="text" placeholder="Email" id="email">
                <input type="password" placeholder="password" id="pass">
                <input type="password" placeholder="render password" id="re-pass">
                <button id="signUp-btn">Sign Up</button>

                <p>You have an account <a href="" id="login-a">Log in</a></p>
                <p class="warning" id="warn-s"></p>
            </form>
        </div>
    </div>
    <!-- Log in page end -->

    <!-- Second Page start -->

    <!-- Footer start -->

    <footer>
        <div>
            <img src="logo.png"></img>
            <p></p>
        </div>
        <div class="footer-list">
            <div class="items">
                <h3>Our Office</h3>
                <p>Located across the country, ready to assist in planning & booking your perfect vacation.</p>
            </div>
            <div class="items">
                <h3>Call Us</h3>
                <p>Request a quote, or just chat about your next vacation. We're always happy to help!.</p>
                <p style="font-size: 18px; color: rgb(49, 49, 49);"><i class="fa-solid fa-phone"></i> +91 9995198211</p>
            </div>
            <div class="items">
                <h3>Connect with Us</h3>
                <p>Find exclusive offers, updates and more..</p>
                <ul class="social">
                    <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-square-twitter"></i></a></li>
                </ul>
            </div>
            <div class="items">
                <h3>About</h3>
                <ul>
                    <li>home</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
    </footer>
    <script type="module" src="../public/js/auth.js"></script>
    <script type="module" src="../public/js/place.js"></script>
</body>

</html>