<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="sign.css">
</head>

<body>
    <section class="popup" id="login">
        <div class="login-content">
            <span class="close-button" onclick="closeLogin()">&times;</span>
            <h2>Login</h2>

            <form action="login">
                <input type="text" placeholder="Email" required>
                <input type="password" placeholder="password" required>
                <button type="submit">Login</button>

                <p>Don't have an account <a href="#">Sign Up</a></p>
            </form>
        </div>
    </section>
</body>

</html>