.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
}

.login-content {
    background-color: rgb(232, 232, 232);
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    padding: 30px;
    border-radius: 1rem;
    position: relative;
    box-shadow: -5px -5px 20px rgba(0, 0, 0, 0.256);
    animation: popup 0.3s ease;
}

@keyframes popup {
    from {
        transform: scale(0.7);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}
.close-button{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
}
.login-content h2 {
    text-align: center;
}

.login-content form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.login-content input{
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
}
.login-content button{
    background-color: rgb(255, 140, 0);
    padding: 1rem;
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
}
.login-content p{
    text-align: center;
    font-size: 1rem;
}