:root {
    --primary-color:
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

nav a {
    color: white;
}

nav {
    color: white;
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}


nav button {
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #ff5100;
    color: rgb(236, 229, 229);
    transition: all ease 0.5s;
}

nav button:hover {
    background-color: rgb(236, 229, 229);
    color: rgb(255, 81, 0);
}

input {
    padding: 20px 25px;
    border-radius: 30px;
    border: none;
    width: 35vw;
    font-size: 1.1rem;
}

input:focus {
    border: none;
    outline: none;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 10px;
}

nav ul li {
    margin-right: 25px;
}

nav ul li:hover {
    border-radius: 20px;
}

.first-page {
    position: relative;
    background-image: url(image/landing.jpg);
    background-position: top;
    height: 70vh;
    margin: 10px;
    border-radius: 50px;
}

.frst {
    position: absolute;
    inset: 0;
    background-color: rgba(5, 5, 5, 0.3);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25vh;
}

.search-bar {
    position: relative;
}

.search-bar i {
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: 22px;
    color: gray;
}

.note-div {
    margin-top: 15vh;
    color: white;
    width: 90vw;
    padding-top: 10vh;
    display: flex;
    justify-content: end;
    align-items: end;
}


.note-div button {
    padding: 15px 45px;
    border-radius: 20px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    background-color: rgb(7, 2, 100);
    color: rgb(236, 229, 229);
    transition: all ease 0.5s;
}

section {
    margin-inline: 5%;
    padding: 4%;
}

.head {
    font-weight: 400;
    color: rgb(117, 114, 114);
    font-size: 24px;
}

.second-page ul {
    margin-top: 0.8rem;
    display: flex;
    list-style: none;
    column-gap: 10px;
}

.second-page a {
    color: rgb(38, 37, 37);
}

.scroll {
    margin: 1.5rem;
    display: flex;
    gap: 3vw;
    overflow-x: scroll;
    padding: 10px;
    scrollbar-width: none;
}

.place-div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.place-div img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.package-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    gap: 8%;
    margin-top: 5vh;
}

.package-div div {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 35px;
}

.package-div img {
    width: 350px;
    border-top-left-radius: 35px;
    border-top-right-radius: 20px;
}

footer {
    margin-inline: 10px;
    height: 60vh;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: rgba(216, 216, 216, 0.347);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 5rem;
    color: rgb(39, 38, 38);
}

footer img {
    width: 300px;
}

.footer-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}