:root {
    --primary-color:
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    margin-inline: 5%;
    padding: 4%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* First page start */
.first-p {
    position: relative;
    background-image: url(image/landing.jpg);
    background-position: top;
    margin: 0.5rem;
    border-radius: 3.1rem;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(5, 5, 5, 0.4);
    border-radius: 3.1rem;

}

.content-div {
    position: relative;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25vh;
}

nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 3rem;
}

nav button {
    padding: 0.7rem 1.5rem;
    border-radius: 1.3rem;
    border: none;
    cursor: pointer;
    background-color: #ff5100;
    color: rgb(236, 229, 229);
    transition: all ease 0.5s;
}

nav button:hover {
    background-color: rgb(236, 229, 229);
    color: rgb(255, 81, 0);
}

.menu-bar {
    display: none;
}

.menu-bar div {
    width: 1.9em;
    height: 3px;
    background-color: white;
}

.search-bar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-radius: 3rem;
    width: 50%;
}

.search-bar input {
    padding: 1.2rem 2rem;
    border-radius: 30px;
    border: none;
    width: 90%;
    font-size: 1.1rem;
}

input:focus {
    border: none;
    outline: none;
}

.search-bar i {
    font-size: clamp(1rem, 1.5vw, 2rem);
    color: gray;
}

.note-div {
    margin-top: 15vh;
    color: white;
    width: 90vw;
    padding-top: 10vh;
    display: flex;
    justify-content: end;
    align-items: end;
}

.note-div button {
    padding: 15px 45px;
    border-radius: 20px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    background-color: rgb(7, 2, 100);
    color: rgb(236, 229, 229);
    transition: all ease 0.5s;
}

/* ------------------------------------------------ */
/* Second page start */

.sub-heading {
    font-size: clamp(2.3rem, 3vw, 3rem);
    font-weight: 500;
}

.head {
    font-weight: 300;
    color: rgb(117, 114, 114);
    font-size: clamp(1.5rem, 2vw, 1.6rem);
}

.second-page ul {
    font-size: clamp(1.1rem, 1.5vw, 1.3rem);
    margin-top: 0.8rem;
    display: flex;
    list-style: none;
    column-gap: 0.7rem;
}

.second-page a {
    color: rgb(38, 37, 37);
}

.scroll {
    margin: 1.5rem;
    display: flex;
    gap: 3vw;
    overflow-x: scroll;
    padding: clamp(0.2rem, 1vw, 0.8rem);
    scrollbar-width: none;
}

.place-div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.place-div img {
    width: clamp(8rem, 11vw, 12rem);
    height: clamp(8rem, 11vw, 12rem);
    border-radius: 50%;
}

h3 {
    font-weight: 400;
    color: rgb(60, 60, 60);
    font-size: clamp(1.2rem, 3vw, 1.3rem);
}



/* ------------------------------------------ */
/* Third section start */


.package-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: left; */
    gap: 2rem;
    margin-top: 5vh;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    gap: 10px;
    width: 31%;
    background-color: rgb(246, 246, 246);
}

.card img {
    width: 100%;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.package-detail {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.card h3 {
    font-size: 22px;
    font-weight: 500;
}

.day {
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid rgb(94, 94, 94);
    border-radius: 5px;
    color: rgb(48, 47, 47);
}

.price-val {
    font-size: 22px;
    color: rgb(14, 13, 13);
}


/* ------------------------------- */
/* Footer start */


footer {
    margin-inline: 0.5rem;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
    background-color: rgba(216, 216, 216, 0.347);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 5rem;
    color: rgb(39, 38, 38);
}

footer img {
    width: clamp(15rem, 20vw, 20rem);
}

.footer-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vh;
}

.social {
    display: flex;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.items h3 {
    font-size: 25px;
    font-weight: 500;
}

.items p {
    color: rgb(104, 103, 103);
}

.social a {
    color: black;
    font-size: 26px;
}

.price {
    color: rgb(104, 103, 103);
}


@media (max-width:680px) {
    nav ul {
        display: none;
    }

    .menu-bar {
        display: flex;
        flex-direction: column;
        gap: 5px;
        transition: all ease 0.3s;
    }

    .menu-bar:hover div {
        background-color: #ff5100;
    }

    .search-bar {
        width: 90%;
    }

    .card {
        width: 85%;
    }

    footer {
        padding: 5rem 3rem;
        grid-template-columns: 1fr;
        gap: 5rem;
    }

    .footer-list {
        grid-template-columns: repeat(2, 1fr);
    }
}