:root{
    --primary-color:
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}
nav ul{
    display: flex;
    list-style: none;
    column-gap: 10px;
}